{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1 class="roboto-regular">
                    fitnes <br/> training
                </h1>
            </div>
            <div>
                <ul>
                    <li>
                        <i class="fa-solid fa-check-double"></i>
                        Resistance Traning
                    </li>
                    <li><i class="fa-solid fa-check-double"></i>
                        Endurance Traning
                    </li>
                    <li><i class="fa-solid fa-check-double"></i>
                        Personal Traning
                    </li>
                    <li><i class="fa-solid fa-check-double"></i>
                        Cardio Exercises
                    </li>
                </ul>
            </div>


        </div>
    </div>
{% endblock %}


