{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row flex-nowrap">
            <div class="col p-5 lg-text-center">
                <h1 class="alfa-slab-one-regular orange-color">
                    fitnes <br/> training
                </h1>
                <ul>
                    <li>
                        <i class="fa-solid fa-check-double"></i>
                        Resistance Traning
                    </li>
                    <li><i class="fa-solid fa-check-double"></i>
                        Endurance Traning
                    </li>
                    <li><i class="fa-solid fa-check-double"></i>
                        Personal Traning
                    </li>
                    <li><i class="fa-solid fa-check-double"></i>
                        Cardio Exercises
                    </li>
                </ul>
                <div class="ps-3">
                    <a href="{% url 'membership_list' %}" class="btn btn-lg bg-main-color">
                        Get my membership</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


{% block content %}
<!-- Existing home content goes here -->
{% endblock %}

{% block home_content %}
<!-- Carousel Section -->
<section id="classes-carousel" class="my-5 carrosel-container">
    <h2 class="text-center">Our Classes!</h2>
    <div id="classesCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for gymclass in classes %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ gymclass.image_class.url }}" class="d-block w-100" alt="{{ gymclass.name }}">
                <div class="carousel-caption glass-bckg bg-orange-glass d-none d-md-block">
                    <h5>{{ gymclass.name }}</h5>
                    <p>{{ gymclass.date }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#classesCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#classesCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<hr class="orange-color "/>
<!-- Motivational Section -->
<section id="motivation" class="text-center my-5 p-5">
    <h2>Join Us Today!</h2>
    <p>Experience the best fitness training and community at Iron Haven Fitness.</p>
    <a href="{% url 'membership_list' %}" class="btn btn-primary">Check Our Memberships</a>
</section>

<!-- Products Section -->
<section id="products" class="my-5">
    <div class="row">
        <div class="col-md-6">
            <div id="productsCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for product in products %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ product.image.url }}" class="d-block w-50 mx-auto rounded-3" alt="{{ product.name }}">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev " type="button" data-bs-target="#productsCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden text-black">Previous</span>
                </button>
                <button class="carousel-control-next text-black" type="button" data-bs-target="#productsCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h3 class="orange-color">Exclusive Products for Members</h3>
                <p>As a member of Iron Haven Fitness, you have access to our exclusive range of fitness products available only at our gym. Join us today to enjoy these benefits and more!</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Form Section -->
<section class="mt-5 text-center md-w-50 md-w-100 mx-auto" id="contact">
    <h2>Contact Us</h2>
    <div class="container">
        <form method="post" action="{% url 'contact' %}" class="mt-4 text-start">
            {% csrf_token %}
            {{ contact_form|crispy }}
            <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
    </div>
</section>
{% endblock %}


