{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <div class="overlay"></div>
    
    <div class="text-end w-75 mx-auto">
        <h2 class="logo-font py-4 text-end text-whitemt-5">My Bag</h2>
        <hr class="main-color opacity-100" style="height: 10px;">
    </div>

    {% if bag_items %}
    <div class="flex-sm-column-reverse container flex-md-column-reverse flex-lg-row row justify-content-center bag-container">

       
        <div class="col-lg-4 mb-4">
            {% for item in bag_items %}
            <div class="glass-bckg p-3 rounded mb-3">
                <div class="card-body">
                    <h5 class="card-title my-2">{{ item.product.sku|upper }}</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <p >
                            {{ item.product.name }}
                        </p>
                        {% if item.product.image %}
                        <img class="img-fluid rounded w-25" src="{{ item.product.image.url }}">
                        {% else %}
                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                        {% endif %}
                    </div>
                    <p class="card-text ">
                        Price per unit: $  <strong class="orange-color">{{ item.product.price }} </strong>
                    </p>
                    <p class="card-text ">
                        total: $  <strong class="orange-color">{{ item.product.price | calc_subtotal:item.quantity }}</strong>
                    </p>
                    <div class="card-footer p-3">
                        <!-- footer with qty -->
                        <form  method="POST" action="{% url 'adjust_bag' item.item_id %}" class="form update-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="form-group w-100 h-auto">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm text-white"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input text-center  p-0 " type="number"
                                                name="quantity" value="{{item.quantity}}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}"
                                                id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm  btn-black rounded-0"
                                                    data-item_id="{{ item.item_id}}" id="increment-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm text-white"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            {% if items.product.has_sizes %}
                                                <input type="hidden" name="product_size" value="{{item.size}}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <a class="update-link float-start fs-6 mt-2 up-remv">Update</a>
                        <a class="remove-item orange-color fs-6 float-end mt-2 up-remv" id="remove_{{item.item_id}}" data-product_size="{{item.size}}">Remove</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <!-- Order Sumary -->
        <div class="col-lg-6 mb-4 p-sm-0">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order summary</h5>
                    <ul class="list-group mb-3">
                        <li class="d-flex gap-3 justify-content-between bg-white p-2 text-center">
                            <span>Product</span>
                            <div class="text-black d-flex justify-content-between" style="width: 200px;">
                                <span class="text-center">Quantity</span>
                                <span>Sub Total</span>
                            </div>

                        </li>
                        {% for item in bag_items %} 
                        <li class="d-flex gap-3 justify-content-between bg-white p-2 text-center">
                            <span class="orange-color fs-6 text-break">{{ item.product.sku|upper }}</span>
                            <div class="text-black d-flex justify-content-between" style="width: 200px;">
                                <span class="text-center" style="width: 74px;">{{item.quantity}}</span>
                                <span>{{ item.product.price | calc_subtotal:item.quantity }}</span>
                            </div>

                        </li>


                        {% endfor %}
                    </ul>

                    <div class="card-footer">
                        <div>
                            <p class="text-black">You can pick up all the products at your gym just by giving your name.</p>
                        </div>
                        <div class="text-end pe-2">
                            <p class="mt-4 text-black">Grand Total: <strong class="orange-color">${{ grand_total|floatformat:2 }}</strong></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'all_products' %}" class="btn btn-outline-black rounded-0 keep-link">
                                <span class="icon">
                                    <i class="fas fa-chevron-left p-2"></i>
                                </span>
                                <span class="text-uppercase custom-button fw-6">Keep Shopping</span>
                            </a>
                            <a href="{% url 'pay_product' %}" class="btn btn-black rounded-0 keep-link">
                                <span class="text-uppercase custom-button fw-6">Buy now</span>
                                <span class="icon">
                                    <i class="fas fa-lock p-2"></i>
                                </span>
                            </a>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
        
    </div>
  
    {% else %}
    <div class="container">
        <h3>You haven't added any products to the bag yet.</h3>
        <hr>
        <div>
            <a href="{% url 'all_products' %}" class="btn btn-outline-black rounded-0 keep-link">
                <span class="icon">
                    <i class="fas fa-chevron-left p-2"></i>
                </span>
                <span class="text-uppercase custom-button fw-6">Keep Shopping</span>
            </a>
        </div>
    </div>
    {% endif %}
  


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/qty_script.html' %}

    <script type="text/javascript">
        //Update quantity
        $('.update-link').click(function(e){
            var form = $(this).prev('.update-form');
            form.submit();
        })

        //remove item and reload on click
        $('.remove-item').click(function(e){
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('product_size');
            var url = `remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

            $.post(url, data)
                .done(function(){
                    location.reload();
                });
        })
    </script>

{% endblock %}

