amqp==5.2.0
asgiref==3.8.1
billiard==4.2.0
bleach==6.1.0
celery==5.4.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudinary==1.40.0
crispy-bootstrap5==2024.2
dj-database-url==0.5.0
Django==5.0.5
django-allauth==0.62.1
django-cloudinary-storage==0.3.0
django-crispy-forms==2.1
django-summernote==0.8.20.0
idna==3.7
kombu==5.3.7
parse==1.20.1
pillow==10.3.0
printify==0.0.1
prompt_toolkit==3.0.47
psycopg2==2.9.9
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.16.0
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
whitenoise==6.6.0
