{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5 ">
        <div class="text-center py-3">
            <h2 class="text-center mb-4 mmb-title">Manage Product</h2>
        </div>
        <div class="row glass-effect-no-width">
            <div class="col-md-6">
                <!-- Display the class image -->
                <img src="{{ product_detail.image.url }}" alt="{{ product_detail.name }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <!-- Form for editing the class -->
                <form method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-end">
                        <button type="submit" name="save" class="btn btn-large btn-custom text-white">Save Changes</button>
                        <button type="submit" name="cancel" class="btn btn-secondary">Cancel</button>
                        <button type="submit" name="delete" class="btn btn-danger">Delete Class</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


 
