{% extends "base.html" %}
{% load static%}

{% block content-gymclass %}
<div class="container">
    <div class="text-center py-3">
        <h2 class="text-center mb-4 mmb-title">Classes</h2>
    </div>
    <div class="row">
        {% for gymclass in classes %}

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="{% if gymclass.image %}{{ gymclass.image.url }}{% else %}{% static '/images/default_class.jpg' %}{% endif %}" alt="{{ gymclass.name }}">
                <div class="card-body">
                    <div class="py-3">
                        <h3 class="card-title text-center text-black">{{ gymclass.name }}</h3>
                    </div>
                    <p class="card-text text-black align-bottom">{{ gymclass.description }}</p>
                </div>
                <div class="card-footer">
                    <div class="text-black fw-bo ld d-flex justify-content-between my-3">
                        <span>{{gymclass.day_of_week}}</span>
                        <span>{{gymclass.time}}</span>
                    </div>
                    <button class="btn btn-large btn-outline orange-color reserve-btn" data-toggle="modal" data-target="#reserveModal{{ gymclass.id }}">
                        Reserve Class
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Modal para cada clase -->
        <div class="modal fade" id="reserveModal{{ gymclass.id }}" tabindex="-1" role="dialog" aria-labelledby="reserveModalLabel{{ gymclass.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-black d-flex justify-content-between">
                        <h5 class="modal-title" id="reserveModalLabel{{ gymclass.id }}">Reserve Class</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-black">
                        <p><strong>User Name:</strong> {{user}}</p> <!-- Aquí puedes reemplazar "John Doe" con el nombre del usuario dinámicamente -->
                        <p><strong>Class Name:</strong> {{ gymclass.name }}</p>
                        <p><strong>Day:</strong> {{gymclass.day_of_week}}</p> <!-- Ejemplo: día de la semana -->
                        <p><strong>Time:</strong> {{gymclass.time}}</p> <!-- Ejemplo: hora -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Confirm Reservation</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin del modal -->
        
        {% endfor %}
    </div>
</div>
{% endblock %}
