{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <h2 class="logo-font my-4 text-end text-whitemt-5">New Class</h2>
    <hr class="main-color opacity-100" style="height: 10px;">
   
    <div class="row glass-effect-no-width">
        <div class="col-md-6">
            <!-- Display the default class image -->
            <img src="{% static 'images/default-product-image.png' %}" loading="lazy" alt="default-class-image" class="img-fluid">

            <div>
                <!-- Optionally, you can add more buttons or content here -->
            </div>
        </div>
        <div class="col-md-6">
            <!-- Form for creating the class -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy}}
                <div class="text-end">
                    <button type="submit" name="save" class="btn btn-large btn-custom text-white">Save Changes</button>
                    <a href="{% url 'classes_list' %}" class="btn btn-secondary"  rel="nofollow">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
