@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Slabo+27px&display=swap');


/*------------Globals*/
body{
    min-width: 100%;
    min-height: 100vh;
    background-color: #0F2435!important;
    color: black;
    scroll-behavior: smooth;
    background-color:rgba(15, 36, 53, 0.5) ;
}

body,div{
    color: white;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}

hr{
    
    opacity: 1!important;
}
main{
    min-height: 60vh;
}

.logo{
    width: 100px;
    margin: 0;
    padding: 0;
}

.fs-6{
    font-size: 15px!important;
}
.form-label{
    color: #ff6600!important;
}


/*_________________ Fonts*/

.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10vw!important;
  }
  
.roboto-light {
font-family: "Roboto", sans-serif;
font-weight: 300;
font-style: normal;
}

.roboto-regular {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
}

/*-----------------Utilities*/

.main-color{
    color:#F59B01;
}
.icon-color{
    color:#ff6600 !important;
}

.icon-color:hover{
    color:#0f2435 !important;
}

.btn-color-one{
    background:#0f2435 !important;
    color: white!important;
}

.btn-color-one:hover{
    background:#ff6600 !important;
    color: #0f2435!important;
}

.btn-color-two{
    background:#ff6600 !important;
    color: white!important;
}

.btn-color-two:hover{
    background:#ffffff !important;
    color: #0f2435!important;
}

.bg-main-color{
    background:#ff6600 !important;
}


.rv-white-bg{
    background-color: transparent;
    /* filter: brightness(1.1); */
    mix-blend-mode: darken;
    
}
.orange-color{
    color: #ff6600;
    border-color: #ff6600;

}
.orange-color-two{
    color: #F29E23;
    border-color: #ff6600;
}

.up-remv{
    text-decoration: none;
    cursor: pointer;
}
.up-remv:hover{
    scale: 1.1;
}
.update-link{
    color: white;
}

.custom-button{
    color: #ff6600;
    font-weight: 600;
}

.keep-link:hover .custom-button{
    color: black;
    
}
.keep-link:hover .icon .fas{
    background-color: #ff6600;
}

.adjust-image{
    aspect-ratio: 1/1;
    object-fit: cover;
}

.scrollable-box {
    height: 300px; /* Adjust this value as needed */
    overflow-y: scroll;
}

@media (max-width:480px){

    .keep-link{
        font-size: 14px;
    }
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

#id_password1_helptext{

    color: white!important;
}

.keep-btn{
    background-color: white;
    color: #0F2435!important;
}
.keep-btn:hover{
    background-color: #ff6600;
    scale: 1.1;
    color: black!important;
}
.modal-footer{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between!important;
}
.btn{
    padding: 5px;
}

/*-------------------Product*/

.container-product-detail{
      height: auto;
      margin: 0 auto;
      width: 80%;  
      border-radius: 1rem;
      font-size: 1rem;
      color:white;
    }
.glass-bckg{
    background: rgba(0, 0, 0, 0.5);
  
    border: 1.5px solid rgba(209, 213, 219, 0.3);
}

.price{
    color: #ff6600!important;
}

footer{
   background-color: #0F2435;
}

/*_________________________ signup and login*/


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
}

.glass-effect {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}
.glass-effect-no-width{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    width: 100%;
}

#div_id_remember{
    color: black;
}

/* Toast */
#id_password_helptext > a{
    color: #ff6600!important;
    color: #F29E23;
}

/*________________toasts*/

.message-container{
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999;
}

.custom-toasts{
    overflow: visible;
}
.toast-capper{
    height: 2px;
}

/*Bag*/

@media (max-width:480px){
    .card-body{
        padding: 0;
    }
    .bag-container{
        width: 95%!important;
    }

}

@media (max-width:768px) {
    .bag-container{
        flex-direction: column-reverse !important;
    }
    
}


@media (max-width:768px) {
    .bag-container{
        margin: 0 auto;
        width: 80%!important;
    }
    
}

@media (max-width:1200px) {
    .bag-container{
        margin: 0 auto;
        width: 100%!important;
    }
    
}