@import url(https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap);
.logo,
ul {
  margin: 0;
  padding: 0;
}
.btn-color-one:hover,
.btn-color-two:hover,
.icon-color:hover {
  color: #0f2435 !important;
}
body {
  min-width: 100%;
  min-height: 100vh;
  background-color: #0f2435 !important;
  scroll-behavior: smooth;
}
.update-link,
body,
div {
  color: #fff;
}
li {
  list-style: none;
}
hr {
  opacity: 1 !important;
}
main {
  min-height: 60vh;
}
.logo {
  width: 100px;
}
.fs-6 {
  font-size: 15px !important;
}
#id_password_helptext > a,
.form-label,
.icon-color,
.price {
  color: #f60 !important;
}
.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw !important;
  -webkit-text-stroke: 2px #fff;
}
.roboto-light,
.roboto-regular {
  font-family: Roboto, sans-serif;
  font-style: normal;
}
.roboto-light {
  font-weight: 300;
}
.roboto-regular {
  font-weight: 400;
}
.main-color {
  color: #f59b01;
}
.btn-color-one,
.btn-color-two {
  color: #fff !important;
}
.btn-color-one {
  background: #0f2435 !important;
}
.bg-main-color,
.btn-color-one:hover,
.btn-color-two {
  background: #f60 !important;
}
.btn-color-two:hover {
  background: #fff !important;
}
.keep-btn:hover,
.keep-link:hover .icon .fas {
  background-color: #f60;
}
.rv-white-bg {
  background-color: transparent;
  mix-blend-mode: darken;
}
.orange-color {
  color: #f60;
  border-color: #f60;
}
.orange-color-two {
  color: #f29e23;
  border-color: #f60;
}
.up-remv {
  text-decoration: none;
  cursor: pointer;
}

.custom-button {
  color: #f60;
  font-weight: 600;
}
#div_id_remember,
.keep-link:hover .custom-button {
  color: #000;
}
.adjust-image {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.scrollable-box {
  height: 300px;
  overflow-y: scroll;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid #000;
  position: absolute;
  top: -10px;
  right: 36px;
}
.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #fff;
  z-index: -1;
}
#id_password1_helptext {
  color: #fff !important;
}
.keep-btn {
  background-color: #fff;
  color: #0f2435 !important;
}
.keep-btn:hover {
  color: #000 !important;
}
.modal-footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between !important;
}
.btn {
  padding: 5px;
}
.container-product-detail {
  height: auto;
  margin: 0 auto;
  width: 80%;
  border-radius: 1rem;
  font-size: 1rem;
  color: #fff;
}
.glass-bckg {
  background: rgba(0, 0, 0, 0.5);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
}
footer {
  background-color: #0f2435;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
}
.glass-effect,
.glass-effect-no-width {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
}
.glass-effect {
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 400px;
}
.glass-effect-no-width {
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999;
}
.custom-toasts {
  overflow: visible;
}
.toast-capper {
  height: 2px;
}
@media (max-width: 480px) {
  .keep-link {
    font-size: 14px;
  }
  .card-body {
    padding: 0;
  }
  .bag-container {
    width: 95% !important;
  }
}
@media (max-width: 768px) {
  .bag-container {
    flex-direction: column-reverse !important;
    margin: 0 auto;
    width: 80% !important;
  }
}
@media (max-width: 1200px) {
  .bag-container {
    margin: 0 auto;
    width: 100% !important;
  }
}
