/*------------Globals*/
body{
    background-color: #0C1523;
}

body,p,div{
    color: white;
}

li{
    list-style: none;
}

.logo{
    width: 100px;
    margin: 0;
    padding: 0;
}


/*-----------------Utilities*/

.main-color{
    color:#F59B01;
}

.rv-white-bg{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

/*-------------------Header*/

