


header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/bg-gym.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container{
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/bg-4.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top right;
  display: grid;
  min-height: 80vh;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}

h1{
  color: #f49b01;
  line-height: 1;
  text-transform: uppercase;
  font-size: 10vw;
}

.main-container{
  padding-bottom: 50px;
}

.hero-image{
  max-width: 80%;

}
.container-fluid{
  padding: 0!important;
}
/*----------responsive header*/
@media (max-width:991px){
  header{
    background-size: cover;
    background-position: right top  ;
  }
}



/*--------------------------Home page*/
.carrosel-container{
  margin: 0 auto;
  width: 70%;
  height: auto;
  filter: brightness(0.7);
}

.bg-orange-glass{
  background: rgba(244, 155, 1, 0.5);
  color: white;
  font-size: larger;
  font-weight: bolder;
}
