

header{
  background-color:rgba(15, 36, 53, 0.5) ;
}

.header-container{
  background-image:url("../images/bg-1.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top right;
  display: grid;
  height: 80vh;
  align-items: center;
  margin-bottom: 50px;
  min-width: 100%;
}

@media (max-width:768px){
  .header-container{
    background-position: top right -300px;
  }

}

h1{
  color: #f49b01;
  line-height: 1;
  text-transform: uppercase;
  font-size: 10vw;
}

.main-container{
  padding-bottom: 50px;
  
}

.hero-image{
  max-width: 80%;

}
.container-fluid{
  padding: 0!important;
}
/*----------responsive header*/
@media (max-width:991px){
  header{
    background-size: cover;
    background-position: right top  ;
  }
}



/*--------------------------Home page*/
.carrosel-container{
  margin: 0 auto;
  width: 70%;
  height: auto;
  filter: brightness(0.7);
}

.bg-orange-glass{
  background: rgba(244, 155, 1, 0.5);
  color: white;
  font-size: larger;
  font-weight: bolder;
}
