<!-- profile.html -->

{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row g-5">
        <!-- Profile Information -->
        <div class="col-md-6 align-self-center">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        {% if user.profile.image%}
                        <img src="{{ user.profile.image.url }}" alt="Profile Image" class="img-fluid rounded-circle mb-3 adjust-image" style="width: 150px; height: 150px;">
                        {% else %}
                        <img src="{% static 'images/hero.png' %}" alt="Profile Image" class="img-fluid rounded-circle mb-3 adjust-image" style="width: 150px; height: 150px;">

                        {% endif%}
                        <h5 class="card-title">{{ user.get_full_name }}</h5>
                        <p class="card-text text-black">{{ user.email }}</p>
                        <p class="card-text">Membership: {{ user.profile.my_memberships }}</p>
                        <div class="d-flex  flex-column text-center">
                            <a href="#" class="btn btn-color-one" data-bs-toggle="modal" data-bs-target="#editProfileModal">
                                Edit Profile
                            </a>
                            <a href="#" class="text-danger text-decoration-underline fs-6" data-bs-toggle="modal" data-bs-target="#cancelMembershipModal {{user.profile.my_memebership.id}}">
                                Delete my profile and membership
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Reserved Classes and Membership -->
        <div class="col-md-6 align-self-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Reserved Classes</h5>
                    <hr>
                    {% if user.profile.booking_set.all %}
                    <ul>
                        {% for booking in user.profile.booking_set.all %}
                        <li class="d-flex justify-content-between">
                            {{ booking.gym_class.name }}
                            <span class="text-end">
                                {{ booking.gym_class.day_of_week }} {{ booking.gym_class.time }}
                                <a href="#" data-bs-toggle="modal" data-bs-target="#deleteBookingModal{{ booking.id }}">
                                    <i class="bi bi-trash mx-2 icon-color" title="Cancel"></i>
                                </a>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <span>You haven't booked any activities yet.</span>
                    {% endif %}
                    <hr>
                    <a href="#" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#changeMembershipModal">
                        Change Membership
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% for booking in user.profile.booking_set.all %}
<!-- Modals -->

<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-black">
                <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="text-center">
                <img src="{{ user.profile.image.url }}" alt="{{ user.profile.name}} image" class="img-fluid rounded-circle mb-3 image-size adjust-image" >
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="{% url 'edit_profile' %}">
                    {% csrf_token %}
                    {{ form_profile|crispy }}
                    <div class="text-end">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-color-one">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editBookingModal{{ booking_id }}" tabindex="-1" aria-labelledby="editBookingModalLabel{{ booking_id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-black">
                <h5 class="modal-title" id="editBookingModalLabel{{ booking_id }}">Edit Booking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    
                    {{ form_booking|crispy}}
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endfor %}

{% include 'change_membership.html' %}
{% include 'cancel_membership.html' %}
{% for booking in user.profile.booking_set.all %}
    {% include 'delete_booking.html' with booking_id=booking.id %}
{% endfor %}






<script>
    var myModal = new bootstrap.Modal(document.getElementById('editProfileModal'));
    var myChangeMembershipModal = new bootstrap.Modal(document.getElementById('changeMembershipModal'));

    function openModal(modalId) {
        var modal = new bootstrap.Modal(document.getElementById(modalId));
        modal.show();
    }
</script>
{% endblock %}
