{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}

<h2 class="logo-font mb-2 orange-color mt-5">{% trans "Sign Up" %}</h2>
<hr>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup fs-6" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="d-sm-flex justify-content-between">
    <a class="btn rounded-3 text-white keep-btn" href="{% url 'account_login' %}">Back to Login</a>
    <button type="submit" class="btn btn-color-two">{% trans "Sign Up" %}</button>
  </div>
</form>

{% endblock %}
