{% extends "base.html" %} {% load static %} {% block membership_content %}

<div class="container">
  <h2 class="logo-font my-4 text-end text-whitemt-5">Get your membership</h2>
  <hr class="main-color opacity-100" style="height: 10px;">
  <div class="row">
    {% for membership in memberships %}
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ membership.name }}</h5>
          <ul class="list-group mb-3">
            {% for advantage in membership.advantages.all %}
            <li class="list-group-item">{{ advantage.description }}</li>
            {% endfor %}
          </ul>
          <p class="card-text orange-color">
            <strong>Price: ${{ membership.price }}</strong>
          </p>
          <a type="button" href="{% url 'pay_membership' membership.id %} " class="btn btn-primary-custom btn-primary">Sign Me Up</a>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
