{% extends "base.html" %}
{% load static %}

{% block membership_content %}

<div class="container-fluid">
    <div class="row">

        <div class="col membership-container">

        </div>
        <div class="col membership-container">
            <div class="row">
                {% for membership in membership_list %}
                <div class="col">
                    <h2>membership.name</h2>
                </div>
            </div>
        </div>
        
    </div>

</div>


{% endblock %}