{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row mt-5">
        <h2>Secure Checkout</h2>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ membership.name }}</h5>
                    <ul class="list-group mb-3">
                        {% for advantage in membership.advantages.all %}
                        <li class="list-group-item">{{ advantage.description }}</li>
                        {% endfor %}
                    </ul>
                    <p class="card-text orange-color">
                        <strong>Price: ${{ membership.price }}</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <form id="payment-form" class="text-black"  method="POST" action="{% url 'pay_membership' membership.id %}">
                {% csrf_token %}
                <div class="card" id="collapse-profile-form">
                    {{ profile_form|crispy }}
                    <button 
                        class="btn btn-lg bg-main-color mt-3 p-2" 
                        id="save-profile-button"
                        data-bs-toggle="collapse" data-bs-target="#collapse-pay-form" aria-expanded="false" aria-controls="collapse-pay-form"
                        >Go to checkout</button>
                </div>
                <div class="card collapse mt-5" id="collapse-pay-form">
                <input type="hidden" name="membership_id" value="{{ membership.id }}">
                <div class="form-group">
                    <label for="card-number" class="orange-color">Card number</label>
                    <div id="card-number"></div>
                </div>
                <div class="form-group">
                    <label for="card-expiry" class="orange-color">Expired date</label>
                    <div id="card-expiry"></div>
                </div>
                <div class="form-group">
                    <label for="card-cvc" class="orange-color">CVC code</label>
                    <div id="card-cvc"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-lg bg-main-color mt-3" id="submit-button">Get membership</button>
                    <button 
                    class="btn btn-lg bg-main-color mt-3 " id="open-profile-form"
                    data-bs-toggle="collapse" data-bs-target="#collapse-pay-form" 
                    aria-expanded="false" aria-controls="collapse-pay-form">change profile</button>
                </div>
                <div id="card-errors" role="alert"></div>
                    <!--Pass the client secret to the view so we can get payment intent id-->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </div>
            </form>
        </div>
    </div>
</div>


<script>
     document.addEventListener('DOMContentLoaded', function() {
        var stripe = Stripe('{{ STRIPE_PUBLISHABLE_KEY }}'); 
        var clientSecret = document.querySelector('input[name="client_secret"]').value;
        var elements = stripe.elements();

        // Crear elementos de tarjeta separados
        var cardNumber = elements.create('cardNumber', {
            placeholder: 'Número de Tarjeta'
        });
        var cardExpiry = elements.create('cardExpiry', {
            placeholder: 'MM/AA'
        });
        var cardCvc = elements.create('cardCvc', {
            placeholder: 'CVC'
        });

        // Montar los elementos en los contenedores correspondientes
        cardNumber.mount('#card-number');
        cardExpiry.mount('#card-expiry');
        cardCvc.mount('#card-cvc');

        // Manejar el envío del formulario
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            $('#card-number').attr('disable', true);
            $('#submit-button').attr('disable', true);

            stripe.confirmCardPayment(clientSecret,{
                payment_method: {
                    card: cardNumber,
                    
                }
                 
             }).then(function(result){
                var errorDiv = document.getElementById('card-error');
                if (result.error) {
                    var html = `
                        <span class="icon" role="alert">
                            <i class="fas fa-times"></i>
                        </span>
                        <span>${result.error.message}</span>
                    `;
                    $(errorDiv).html(html);
                    $('#card-number').attr('disable', false);

                    $('#submit-button').attr('disable', false);

                } else {
                    if (result.paymentIntent.status === 'succeeded'){
                        form.submit()
                    }
                }
             })
        });

        // hide profile payment info
        var profile_form = document.getElementById('collapse-profile-form')
        var hidde_profile_action = document.getElementById('save-profile-button')
        var show_profile_action = document.getElementById('open-profile-form')
    
            $("#open-profile-form").on( "click", function() {	 
	        $('#collapse-profile-form').toggle('slow');
	         });

             $("#save-profile-button").on( "click", function() {	 
	            $('#collapse-profile-form').toggle('slow');
	         });


    });
</script>

{% endblock %}


