/*------------Globals*/
.nav-container{
  background-color: rgba(12, 21, 35, 0.5);
}

.nav-link{
    color:white!important;
}

nav,
    
    .navbar-toggler {
      border: none;
    }
    .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }
    .navbar-toggler-icon{
      color:white!important;
    }

    @media (max-width: 768px) {
      .navbar-nav > li:hover {
        background-color: #0dcaf0;
      }
      
    }

    @media(max-width:991px){
      .offcanvas {
        background-color: #0C1523;
      }
    }
.dropdown-menu[data-bs-popper]{
  left: -90px!important;
}